---
import '@/styles/global.css';
import '@/styles/global.scss';

import type { HTMLAttributes } from 'astro/types';
import { SEO } from 'astro-seo';
import type { Props as SEOProps } from 'astro-seo';
import css from './Layout.css';
import Kuboston from './fragments/kuboston/Kuboston.astro';
import QuestionTextField from './fragments/textarea/QuestionTextField';
import QuestionTextFieldCss from './fragments/textarea/QuestionTextField.css';

export interface Props {
  /** @see https://github.com/jonasmerlin/astro-seo#supported-props */
  seo?: SEOProps;
  headProps?: HTMLAttributes<'head'>;
  bodyProps?: HTMLAttributes<'body'>;
  mainProps?: HTMLAttributes<'main'>;
}

const props = Astro.props;

const { seo = {}, mainProps = {} } = props;

seo.titleDefault ||= 'Kuboton';
seo.titleTemplate ||= '%s | Kuboton';
seo.description ||= 'Kuboton AI';

const mainId = mainProps.id ? `${$env.APP_ID} ${mainProps.id}` : $env.APP_ID;
const mainClass = mainProps.class ? `${css.main} ${mainProps.class}` : css.main;
---

<!doctype html>
<html lang="ja">
  <head {...props.headProps}>
    <slot name="head-top" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO {...seo} />
    <slot name="head-bottom" />
  </head>

  <body {...props.bodyProps}>
    <slot name="body-top" />

    <main {...mainProps} id={mainId} class={mainClass}>
      <Kuboston />

      <slot />
    </main>

    <QuestionTextField client:load css={QuestionTextFieldCss} />

    <slot name="body-bottom" />
  </body>
</html>
